@import "./../../thirdparty/fonts/Inter.css";
@import "tailwindcss";

@theme {
    --color-primary: #654ef0;
    --color-background-light: #f6f7f8;
    --color-background-dark: #101922;
    --color-highlight-yellow: #fcba03;
    --font-display: "Inter", sans-serif;
    --radius-default: 0.25rem;
    --radius-full: 9999px;
    --font-sans: "Inter", sans-serif;
}

@layer base {
    button,
    [role="button"],
    .cursor-pointer {
        @apply cursor-pointer;
    }
}

.hidden-class {
    @apply ring-2 ring-offset-2 ring-slate-400;
}

@layer utilities {
    .force-include {
        @apply w-6 h-6 round-lg;
    }
}

